* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #000;
}

.intro,
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 23rem;
}

.intro__title {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}

.intro-cta,
.coming__soon-cta {
  font-size: 0.7rem;
}

a,
a:hover,
a:active {
  color: aquamarine;
}

.intro__video {
  width: 20rem;
  height: 35rem;
}

.feature__title,
.coming__soon__title {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}

.features {
  color: gray;
  font-size: 0.8rem;
  text-align: center;
}

.feature__camp {
  width: 23rem;
  height: 17rem;
}

.coming__soon {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 23rem;
}

.coming__soon__phone {
  margin-top: 2rem;
}

.copyright {
  color: gray;
  text-align: right;
  font-size: 0.8rem;
}

@media (min-width: 40rem) {
  .intro__title {
    font-size: 3rem;
  }
  .intro-cta,
  .coming__soon-cta {
    font-size: 1rem;
  }

  .intro__video {
    width: 25rem;
    height: 45rem;
  }

  .feature__title,
  .coming__soon__title {
    /* color: #fff;
    text-align: center; */
    font-size: 2.5rem;
    font-weight: 300;
  }

  .features {
    font-size: 1.3rem;
  }

  .feature__camp {
    width: 56rem;
    height: 33rem;
  }
  .copyright {
    font-size: 1.5rem;
  }
}
