* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #000;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 23rem;
}

.intro__title {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}

.intro__cta {
  color: aquamarine;
  font-size: 0.7rem;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 23rem;
}

.feature__title {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}

.feature__camp {
  width: 23rem;
  height: 17rem;
}

@media (min-width: 40rem) {
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 23rem;
  }
  .intro__title {
    font-size: 3rem;
  }
  .intro__cta {
    font-size: 1rem;
  }
}
