* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #000;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 23rem;
}

.intro__title {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}

.intro__cta {
  color: aquamarine;
  font-size: 0.7rem;
}

.intro__video {
  width: 20rem;
  height: 40rem;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 23rem;
}

.feature__title {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}

.features {
  color: gray;
  font-size: 0.8rem;
  text-align: center;
}

.feature__camp {
  width: 23rem;
  height: 17rem;
}

@media (min-width: 40rem) {
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 23rem;
  }
  .intro__title {
    font-size: 3rem;
  }
  .intro__cta {
    font-size: 1rem;
  }

  .intro__video {
    width: 25rem;
    height: 45rem;
  }

  .feature__title {
    /* color: #fff;
    text-align: center; */
    font-size: 2.5rem;
    font-weight: 300;
  }

  .features {
    font-size: 1.3rem;
  }

  .feature__camp {
    width: 56rem;
    height: 33rem;
  }
}
